<?xml version="1.0"?>
<!-- 
/**
 * Emailheaderfooter module config
 * 
 * @category    Aydus
 * @package     Aydus_Emailheaderfooter
 * @author		Aydus <davidt@aydus.com>
 * @copyright   Copyright (c) 2014 Aydus. (http://www.aydus.com)
 */
-->
<config>
    <modules>
        <Aydus_Emailheaderfooter>
            <version>1.1.4</version>
        </Aydus_Emailheaderfooter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <emailheaderfooter>
                    <file>aydus/emailheaderfooter.xml</file>
                </emailheaderfooter>
            </updates>
        </layout>    	
    </frontend>    
    <global>
        <helpers>
             <emailheaderfooter>
                <class>Aydus_Emailheaderfooter_Helper</class>
             </emailheaderfooter>
        </helpers>    
        <blocks>
             <emailheaderfooter>
                <class>Aydus_Emailheaderfooter_Block</class>
             </emailheaderfooter>
			<adminhtml>
				<rewrite>
					<system_email_template_preview>Aydus_Emailheaderfooter_Block_Adminhtml_System_Email_Template_Preview</system_email_template_preview>
				</rewrite>
			</adminhtml>
        </blocks>
        <resources>
            <emailheaderfooter_setup>
                <setup>
                    <module>Aydus_Emailheaderfooter</module>
                </setup>
            </emailheaderfooter_setup>
        </resources>
    </global>
</config>